// comienzo main
.cuerpo{
    border: 1px solid;
}

.desarrollador{
    display: flex;
    border: 4px solid;

}

.desarrollador__img{
    border: 2px solid;
    width: 100%;
    margin-left: 20px;
}

.desarrollador__titulo{
    border: 2px solid;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.desarrollador__button{
    border: 1px solid;
    width: 20%;
    margin-left: 20px;
}

// FIN PRESENTACION

