// COMIENZO HABILIDADES
.habilidad__titulo{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.habilidad__icon{
    display: flex;
    justify-content: space-between;

    margin: 10px 100px;
}

// COMIENZO PROYECTO
.proyecto{
    display: flex;
    justify-content: center;

}

.proyecto__titulo{
    padding: 40px 0px;
}
.proyecto2{
    display: flex;
    justify-content: center;

}
.proyecto2__img{
    width: 300px;
    height: 150px;
    padding: 10px;

}

.proyecto2__titulo{
    display: block;
    width: 300px;
    padding-left: 10px;
    font-weight: bold;

    font-size: 20px;
}


